{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<h1>Welcome to the Home Page</h1>
  <a href="/calendar/" style="padding: 10px; background: #007BFF; color: white; text-decoration: none; border-radius: 8px;">📅 View Calendar</a>
  <a href="/todos/" style="padding: 10px; background: #28A745; color: white; text-decoration: none; border-radius: 8px;">✅ View To-Do List</a>
  <a href="{% url 'map' %}" style="padding: 10px; background: #e3424a; color: white; text-decoration: none; border-radius: 8px;">🗺️ View Map</a>
{% endblock %}